.dark {
  background-color: var(--black);
}
.light {
  background-color: var(--white);
}
.dark .moon {
  display: none;
}
.dark .sun {
  display: block;
}
.light .moon {
  display: block;
}
.light .sun {
  display: none;
}
.light .logo-light {
  display: block;
}
.light .logo-dark {
  display: none;
}
.dark .logo-light {
  display: none;
}
.dark .logo-dark {
  display: block;
}
.dark .circle-option {
  color: var(--black);
}
.light .circle-option {
  color: var(--white);
}
nav {
  display: grid;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  width: 100vw;
  align-items: center;
}
.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--sky);
  padding: 1rem 0;
  max-width: 720px;
  width: 100%;
}
.nav-child {
  display: flex;
}
.nav-child button {
  margin-right: 20px;
}
.circle-option {
  border: none;
  border-radius: 255px;
  width: 30px;
  height: 30px;
  background-color: var(--sky);
  color: var(--white);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sun {
  width: 15px;
}
@media (min-width: 800px) {
  nav {
    padding: 0 15vw;
  }
}
@media (min-width: 1000px) {
  nav {
    padding: 0 25vw;
  }
}
