/* Barlow */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;700;800;900&display=swap');

:root {
  --font-barlow: 'Barlow', sans-serif;
  --black: #333;
  --white: #ffffff;
  --blue: #5b8bd2;
  --white-pale: rgb(240, 244, 244);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-barlow);
}

a,
li {
  text-decoration: none;
  list-style: none;
}

a,
button,
input[type="submit"],
input[type="button"] {
  cursor: pointer;
  outline: none;
  border: none;
}